* {
    color: var(--aluminio);
    font-family: 'PLAYFAIR';
    margin: 0;
    padding: 0;
}

:root {
    --fuligem: #161616;
    --carbono: #232323;
    --cinza: #383838;
    --prata: #C0C0C0;
    --aluminio: #D0D5DB;
    --brasa: #F05E1B;
    --incandescente: #f15217;
}

body {
    background-color: var(--fuligem);
    box-sizing: border-box;
    min-height: 100vh;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
}

p {
    text-align: center;
}

form {
    margin-top: 2rem;
}

form > div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto 1rem auto;
}

div:has(input:focus) > label span {
    color: var(--brasa);
  }

label {
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brasa);
    color: var(--fuligem);
    font-weight: bold;
    
}

button {
    margin-top: 1rem;
    border: none;
    border-radius: 10px;
    padding: .85rem 2rem;
    background-color: var(--brasa);
    color: var(--fuligem);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
    box-shadow: var(--fuligem) 6px 4.8px 6.4px;
}

button:hover {
    background-color: var(--incandescente);
    color: var(--aluminio);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 69, 0, 1), 0 0 30px rgba(255, 69, 0, 0.8), 0 0 40px rgba(255, 69, 0, 0.6);
}

.amostra {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem auto;
    padding: 0.5rem;
    border: 2px solid var(--brasa);
    border-radius: 10px;
    font-size: 1.2rem;
    background-color: var(--fuligem);
}

.amostra h3 {
    color: var(--brasa);
}

.amostra p {
    font-weight: bolder;
}

input {
    padding: 0.5rem;
    font-size: inherit;
    width: 90%;
    background-color: var(--fuligem);
    border-radius: 0 10px 10px 0;
    border: 1px solid var(--fuligem);
}

input:hover{
    border-color: var(--brasa);
}

input:focus{
    outline: none;
    border-color: var(--incandescente);
    box-shadow: none;
}

input::placeholder{
    color: var(--aluminio);
    opacity: 0.5;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--carbono);
    padding: 1rem;
    border-radius: 10px;
    width: (400px, 100%);
}

.perfil {
    margin-top: 2rem;
    gap: 0.5rem;
}

.cadastro {

}