:root {
    --fuligem: #161616;
    --carbono: #232323;
    --cinza: #383838;
    --prata: #C0C0C0;
    --aluminio: #D0D5DB;
    --brasa: #F05E1B;
    --incandescente: #be4811;
}

.title  {
    margin-top: 1.5rem;
    text-align: start;
    text-transform: uppercase;
    font-size: 1.8rem;
    display: inline-block;
    border-bottom: 2px solid var(--brasa);
    padding-bottom: 0.2rem;
}

.aviso {
    margin-top: 0.8rem;
    max-width: 800px;
    height: auto;
    text-align: start;
    font-size: 1.2rem;
}

.aviso strong {
    color: var(--brasa);
}

.aviso a {
    text-transform: uppercase;
    color: #25D366;
    text-decoration: underline;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1.7rem 0;
    gap: 1rem;
}

.content {
    flex-basis: calc(23% - 1rem);
    margin: 0.8rem 0;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background-color: var(--fuligem);
    overflow: visible;
    display: flex;
    flex-direction: column;
}

.invisible {
    visibility: hidden;
}

.content:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.imgCat {
    width: 100%;
    height: auto;
    object-fit: contain;
    text-align: center;
    margin: 0 auto;
    display: block;
    flex-grow: 1;
    border-radius: 1.2rem 1.2rem 0 0;
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    padding: 0.3rem;
    flex-grow: 0;
}

h3 {
    text-align: center;
    font-size: 1.3rem;
    margin: 0;
    height: 25px;
    overflow: hidden;
}

p {
    text-align: center;
    color: #d2dec3;
    font-size: 1rem;
    height: 55px;
    overflow: hidden;
}

button {
    text-align: center;
    font-size: 1.2rem;
    color: var(--fuligem);
    width: 100%;
    padding: 0.7rem;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 0.1rem;
    border-radius: 0 0 1.2rem 1.2rem;
    background-color: var(--brasa);
}

button:hover {
    background-color: #f15217;
    color: var(--aluminio);
    transition: all 0.3s ease-out;
    border: 1px solid var(--brasa);
    box-shadow: 0 0 20px rgba(255, 69, 0, 1), 0 0 30px rgba(255, 69, 0, 0.8), 0 0 40px rgba(255, 69, 0, 0.6);
}

.container-instructions {
    max-width: 800px;
}

h2 {
    font-size: 1.6rem;
    color: var(--aluminio);
    display: inline-block;
    border-bottom: 2px solid var(--brasa);
    padding-bottom: 0.2rem;
}

.instructions {
    list-style-type: decimal;
    padding-left: 1.25rem;
    margin: 1.5rem 0;
}

.instructions li {
    margin: 0.7rem 0;
    line-height: 1.5;
    font-size: 1.2rem;
}

.instructions strong {
    color: var(--brasa);
}

.instructions li::marker {
    color: var(--brasa); 
    font-weight: bold; 
    font-size: 1.4rem; 
}

.whatsapp-button {
    display: inline-block;
    padding: 0.6rem 1.25rem;
    background-color: #25D366; 
    color: var(--carbono);
    text-align: center;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.4s ease;
}

.whatsapp-button:hover {
    transform: scale(1.04);
}

/*Estilização das divs suspensas*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    box-sizing: border-box;
}

.modal-content {
    background: url(imgs/textura-damasco.png) no-repeat 50% 20%;
    background-size: cover;
    background-color: var(--fuligem);
    background-blend-mode: overlay;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
    0 6px 20px rgba(0, 0, 0, 0.19);
    padding: 1.25rem;
    border-radius: 0.5rem;
    max-width: 80%;
    max-height: 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1.2rem;
    border-bottom: 2px solid var(--brasa);
    padding-bottom: 0.6rem;
}

.modal-info {
    flex-grow: 1;
    margin-right: 0.6rem;
}

.modal-info h3 {
    margin: 0.2rem 0;
    font-size: 1.5em;
    color: var(--brasa);
}

.modal-info p {
    margin: 0.3rem 0;
    font-size: 1.1em;
    color: #d3d3cf;
}

.close {
    font-size: 1.75rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 0.6rem;
    color: var(--brasa);
}

.modal-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.4rem;
    margin-bottom: 1rem;
}

.modal-body img {
    width: 22%;
    height: auto;
    transition: transform 0.3s;
    object-fit: contain;
    border-radius: 0.5rem;
}

.modal-body img:hover {
    transform: scale(1.03);
}

#info-message {
    position: absolute;
    display: none;
    background-color: #414040;
    border: 1px solid #ccc;
    color: var(--aluminio);
    padding: 10px;
    z-index: 1000;
    max-width: 200px;
    height: auto;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

#info-message button {
    background-color: var(--brasa);
    color: #000;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: all 0.3s ease-out;
}

#info-message button:hover {
    box-shadow: 0 0 20px rgba(255, 69, 0, 1), 0 0 30px rgba(255, 69, 0, 0.8), 0 0 40px rgba(255, 69, 0, 0.6); 
    color: var(--aluminio);
}

@media (max-width: 1200px) {
    .content {
        flex-basis: calc(25% - 1rem);
    }
}

@media (max-width: 992px) {
    .content {
        flex-basis: calc(33.333% - 1rem);
    }
}

@media (max-width: 768px) {
    .content {
        flex-basis: calc(50% - 1rem); 
    }

    .modal-body img {
        width: 45%; 
    }

    .modal-content {
        max-width: 95%; 
    }
}

@media (max-width: 576px) {

    .title {
        margin-top: 0.7rem;
    }

    .aviso {
        font-size: 1.1rem;
    }

    .gallery {
        margin: 1rem 0;
        gap: 0.1rem;
    }

    .content {
        flex-basis: calc(50% - 1rem); 
    }

    img {
        height: auto;
    }

    h3 {
        font-size: 1rem;
        height: 18px;
    }

    p {
        font-size: 0.7rem;
        height: 40px;
    }

    h2 {
        font-size: 1.5rem;
    }

    .instructions li {
        font-size: 1.1rem;
    }

    .modal-info h3 {
        font-size: 1.2em; 
    }

    .modal-info p {
        font-size: 0.9em; 
    }

    .close {
        font-size: 24px; 
    }
}

@media (max-width: 480px) {
    .modal-body img {
        width: 45%; 
    }

    .close {
        font-size: 1.5rem; 
    }
}
