:root {
    --fuligem: #161616;
    --carbono: #232323;
    --cinza: #383838;
    --prata: #C0C0C0;
    --aluminio: #D0D5DB;
    --brasa: #F05E1B;
    --incandescente: #be4811;
}

a {
    text-decoration: none;
}

.title  {
    margin-top: 1.5rem;
    text-align: start;
    text-transform: uppercase;
    font-size: 1.8rem;
    /* color: var(--brasa); */
    display: inline-block;
    border-bottom: 2px solid var(--brasa);
    padding-bottom: 0.2rem;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /*muda espaçamento aqui lindo*/
    align-items: center;
    width: 100%;
    margin: 1.7rem 0;
    gap: 1rem;
}

.gallery::after {
    content: '';
    flex-basis: calc(23% - 1rem);
    margin: 0.8rem 0;
    box-sizing: border-box;
    visibility: hidden; 
}

.content {
    flex-basis: calc(23% - 1rem); /* Define largura com ajuste de gap */
    margin: 0.8rem 0;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    /* padding-top: 0.6rem; */
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background: var(--fuligem);
    overflow: visible;
    display: flex;
    flex-direction: column;
}

.content:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.imgCat {
    width: 100%;
    height: auto;
    object-fit: contain;
    text-align: center;
    margin: 0 auto;
    display: block;
    flex-grow: 1;
    border-radius: 1.2rem 1.2rem 0 0;
    /* margin-bottom: 0.4rem; */
}

.texts {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    padding: 0.3rem;
    flex-grow: 0;
}

h3 {
    text-align: center;
    font-size: 1.3rem;
    margin: 0;
    height: 25px;
    overflow: hidden;
}

p {
    text-align: center;
    color: #d2dec3;
    font-size: 1rem;
    height: 55px;
    overflow: hidden;
}

/* h6 { 
    font-size: 1.1rem;
    text-align: center;
    color: #fff;
    margin: 0;
} */

button {
    text-align: center;
    font-size: 1.2rem;
    color: var(--fuligem);
    width: 100%;
    padding: 0.7rem;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 0.1rem;
    border-radius: 0 0 1.2rem 1.2rem;
    background-color: var(--brasa);
}

button:hover {
    background-color: #f15217;
    color: var(--aluminio);
    transition: all 0.3s ease-out;
    border: 1px solid var(--brasa);
    box-shadow: 0 0 20px rgba(255, 69, 0, 1), 0 0 30px rgba(255, 69, 0, 0.8), 0 0 40px rgba(255, 69, 0, 0.6);
}

.container-instructions {
    max-width: 800px;
}

h2 {
    font-size: 1.6rem;
    color: var(--aluminio);
    display: inline-block;
    border-bottom: 2px solid var(--brasa);
    padding-bottom: 0.2rem;
}

.instructions {
    list-style-type: decimal;
    padding-left: 1.25rem;
    margin: 1.5rem 0;
}

.instructions li {
    margin: 0.7rem 0;
    line-height: 1.5;
    font-size: 1.2rem;
}

.instructions strong {
    color: var(--brasa);
}

.instructions li::marker {
    color: var(--brasa); /* Cor para os números */
    font-weight: bold; 
    font-size: 1.4rem; 
}

.whatsapp-button {
    display: inline-block;
    padding: 0.6rem 1.25rem;
    background-color: #25D366; /* Cor do WhatsApp */
    color: var(--carbono);
    text-align: center;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.4s ease;
}

.whatsapp-button:hover {
    transform: scale(1.04);
}


/* @media(max-width: 1000px) {
    .content {
        width: 45%;
    }
}

@media(max-width: 750px) {
    .content {
        width: 40%;
    }
} */

@media (max-width: 1200px) {
    .content {
        flex-basis: calc(25% - 1rem); /* 4 cards por linha */
    }

    img {

    }

    p {

    }

    h6 {

    }

    button {

    }
}

@media (max-width: 992px) {
    .content {
        flex-basis: calc(33.333% - 1rem); /* 3 cards por linha */
    }
}

@media (max-width: 768px) {
    .content {
        flex-basis: calc(50% - 1rem); /* 2 cards por linha */
    }
}

@media (max-width: 576px) {

    .title {
        margin-top: 0.7rem;
    }

    .gallery {
        margin: 1rem 0;
        gap: 0.1rem;
    }

    .content {
        flex-basis: calc(50% - 1rem); /* 2 cards por linha */
    }

    img {
        height: auto;
    }

    h3 {
        font-size: 1rem;
        height: 18px;
    }

    p {
        font-size: 0.7rem;
        height: 40px;
    }

    button {

    }

    h2 {
        font-size: 1.5rem;
    }

    .instructions li {
        font-size: 1.1rem;
    }
}    