* {
    color: var(--aluminio);
    font-family: 'PLAYFAIR';
    margin: 0;
    padding: 0;
}

:root {
    --fuligem: #161616;
    --carbono: #232323;
    --cinza: #383838;
    --prata: #C0C0C0;
    --aluminio: #D0D5DB;
    --brasa: #F05E1B;
    --incandescente: #be4811;
}

body {
    background-color: var(--carbono);
    box-sizing: border-box;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}


main {
    margin-left: clamp(10rem, 5vw, 15rem);
    margin-right: clamp(10rem, 5vw, 15rem);
    margin-top: 5rem;
    transition: all 0.3s ease-in-out;
}

.instrucao {
  font-size: clamp(1.5rem, 2vw, 3rem);
  text-align: center;
  margin-bottom: 5rem;
  color: var(--incandescente);
}

.instrucao p {
  color: var(--aluminio);
  text-transform: uppercase;
}

form {
    display: flex;
    justify-content: space-around;
    margin-bottom: 6rem;
  }
  
label {
  position: relative;
  cursor: pointer;
}

input[type="radio"] {
  display: none; /* Esconde os botões de rádio */
}

h1 {
  font-size: clamp(2.3rem, 2vw, 3rem);
  text-align: center;
  margin-bottom: 2rem;
  color: var(--brasa);
  text-transform: uppercase;
  font-weight: bold;
}

.form-opcao {
  border: 2px solid transparent;
  transition: transition 0.3s ease;
  border-radius: 10px;
  background-color: var(--fuligem);
}

.form-opcao:hover {
  border: 2px solid var(--brasa); /* Efeito de hover */
}

.form-opcao img {
  width: 20rem;
  height: 22rem;
  border-radius: 10px 10px 0 0;
  transition: all 0.3s ease;
}

.texts {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.8rem;
  flex-grow: 0;
}


input[type="radio"]:checked + .form-opcao{
  color: var(--brasa);
  transition: all 0.3s ease-out;
  box-shadow: 0 0 20px rgba(255, 103, 0, 0.7), 0 0 40px rgba(255, 103, 0, 0.5), 0 0 60px rgba(255, 103, 0, 0.3);
  transform: scale(1.05);
  border: 1px solid var(--incandescente);
}

input[type="radio"]:checked ~ .texts h3 {
  color: var(--brasa);
  transition: transform 0.3s ease-out;
}

.estilo-ferramenta {
  display: none;
}

.material-bainha {
  display: none;
}

#resultado {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}


/* 1264px = 79rem */

@media (max-width: 79rem) {
  
.form-opcao img {
  width: 14rem;
  height: 16rem;
}

}


/* 1120px = 66rem */

@media (max-width: 70rem) { /* Menu reduzido */



}

/* 768px = 48rem */

@media (max-width: 50rem) {

.form-opcao img {
  width: 10rem;
  height: 12rem;
}

}