* {
    color: var(--aluminio);
    font-family: 'PLAYFAIR';
    margin: 0;
    padding: 0;
}

:root {
    --fuligem: #161616;
    --carbono: #232323;
    --cinza: #383838;
    --prata: #C0C0C0;
    --aluminio: #D0D5DB;
    --brasa: #F05E1B;
    --incandescente: #be4811;
}

body {
    background-color: var(--carbono);
    box-sizing: border-box;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}


main {
    margin-left: clamp(10rem, 5vw, 15rem);
    margin-right: clamp(10rem, 5vw, 15rem);
    margin-top: 5rem;
    transition: all 0.3s ease-in-out;
}

.instrucao {
  font-size: clamp(1.5rem, 2vw, 3rem);
  text-align: center;
  margin-bottom: 10rem;
  color: var(--incandescente);
}

.instrucao p {
  color: var(--aluminio);
  text-transform: uppercase;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 12rem;
    background-color: var(--fuligem);
    border-radius: 10px;
    padding: 5rem;
  }
  
label {
  position: relative;
  cursor: pointer;
  border-radius: 10px;
}

/* Efeito de hover para a label */
label:hover {
  transition: all 0.3s ease-in-out;
  transform: translate(0px, -8px);
}

/* Remove o efeito de hover quando o input estiver marcado */
label input[type="radio"]:checked:hover {
  transform: none;
  transition: none;
}

/* Impede que a label tenha o efeito de hover quando o input estiver marcado */
label input[type="radio"]:checked + label:hover {
  transform: none;
}

label:not(:last-child) {
  margin-right: 3rem;
}

input[type="radio"] {
  display: none; /* Esconde os botões de rádio */
}


h1 {
  font-size: clamp(2.3rem, 2vw, 3rem);
  text-align: center;
  margin-bottom: 2rem;
  color: var(--brasa);
  text-transform: uppercase;
  font-weight: bold;
}

h4 {
  text-decoration: none;
  font-style: italic;
  text-align: center;
  color: var(--aluminio);
  font-size: clamp(0.8rem, 2vw, 1.5rem);
  z-index: 2;
  margin-top: -1rem;
}

h4 a {
  text-decoration: underline;
  color: var(--brasa);
}

h4 a:hover {
  color: var(--incandescente);
}

.form-opcao {
  border: 1px solid var(--fuligem);
  transition: transition 0.3s ease;
  border-radius: 10px;
  background-color: var(--carbono);
  position: relative;
}

.form-opcao:hover {
  border: 1px solid var(--brasa); /* Efeito de hover */
}

.form-opcao img {
  width: 20rem;
  height: 22rem;
  border-radius: 10px 10px 0 0;
  transition: all 0.3s ease;
}

.texts {
  text-align: center;
  font-size: 1.5rem;
  padding: 0.8rem;
  flex-grow: 0;
  flex-wrap: wrap;
  background: url(imgs/elementos/textura-damasco.png) no-repeat;
  background-size: cover;
  background-color: var(--fuligem);
  background-blend-mode: overlay; /* Mistura as duas camadas de cor */
  display: flex;
  justify-content: center;
  position: relative;
  width: 20rem;
  border-radius: 0 0 8px 8px;
}

.texts i {
  margin-left: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}

.estilo-faca, .estilo-cutelo, .estilo-machado, .tipo-couro, .tipo-madeira {
  display: none;
}


input[type="radio"]:checked + .form-opcao{
  color: var(--brasa);
  transition: all 0.3s ease-out;
  box-shadow: 0 0 20px rgba(255, 103, 0, 0.7), 0 0 40px rgba(255, 103, 0, 0.5), 0 0 60px rgba(255, 103, 0, 0.3);
  transform: scale(1.05);
  border: 1px solid var(--incandescente);
}

input[type="radio"]:checked + .form-opcao .texts h3 {
  color: var(--brasa);
  transition: transform 0.3s ease-out;
}


.carousel {
  margin-bottom: 12rem;
  background-color: var(--fuligem);
  border-radius: 10px;
  border: 1px solid var(--fuligem);
}

.carousel-cell {
  margin-right: 3rem;
  overflow: visible;
  padding: 3rem 0;
}

.carousel-cell:hover {
  transition: all 0.3s ease-in-out;
  transform: translate(0px, -8px);
}

.carousel-cell .texts {
  border-radius: 0 0 10px 10px;
}

.btn-enviar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.btn-enviar button {
  font-weight: bold;
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  padding: 2rem;
  background-color: var(--brasa);
  border: 1px solid black;
  color: var(--fuligem);
  border-radius: 10px;
}

.btn-enviar span {
  padding-left: 1rem;
}

.btn-enviar i {
  color: var(--fuligem);
  transition: all 0.3s ease-out;
}

.btn-enviar button:hover {
  background-color: #f15217;
  color: var(--aluminio);
  transition: all 0.3s ease-out;
  border: 1px solid var(--brasa);
  box-shadow: 0 0 20px rgba(255, 69, 0, 1), 0 0 30px rgba(255, 69, 0, 0.8), 0 0 40px rgba(255, 69, 0, 0.6);
}

.btn-enviar button:hover .icone-btn-whats i {
  color: var(--aluminio);
}

#resultado {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

/* Instruções de como personalizar que eu roubei do Bernardo */

.container-instructions {
  max-width: 800px;
}

h2 {
  font-size: 1.6rem;
  color: var(--aluminio);
  display: inline-block;
  border-bottom: 2px solid var(--brasa);
  padding-bottom: 0.2rem;
}

.instructions {
  list-style-type: decimal;
  padding-left: 1.25rem;
  margin: 1.5rem 0;
}

.instructions li {
  margin: 0.7rem 0;
  line-height: 1.5;
  font-size: 1.2rem;
}

.instructions strong {
  color: var(--brasa);
}

.instructions li::marker {
  color: var(--brasa); 
  font-weight: bold; 
  font-size: 1.4rem; 
}

.whatsapp-button {
  display: inline-block;
  padding: 0.6rem 1.25rem;
  background-color: #25D366; 
  color: var(--carbono);
  text-align: center;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.4s ease;
}

.whatsapp-button:hover {
  transform: scale(1.04);
}

/* 1488px = 93rem */

@media (max-width: 93rem) {
  
.form-opcao img {
  width: 18rem;
  height: 20rem;
}

.texts {
  width: 18rem;
}

}

/* 134px = 84rem */

@media (max-width: 93rem) {
  
.form-opcao img {
  width: 16rem;
  height: 18rem;
}

.texts {
  width: 16rem;
}

}

/* 1264px = 79rem */

@media (max-width: 79rem) {

.form-opcao img {
  width: 14rem;
  height: 16rem;
}

.texts {
  width: 14rem;
}

}

/* 1120px = 70rem */

@media (max-width: 70rem) { /* Menu reduzido */

h1 {
  font-size: 2rem;
}

.form-opcao img {
  width: 14rem;
  height: 16rem;
}

.texts {
  font-size: 1rem;
  width: 14rem;
}

}

/* 896px = 56rem */

@media (max-width: 50rem) {




}