* {
    color: var(--aluminio);
    font-family: 'PLAYFAIR';
    margin: 0;
    padding: 0;
}

:root {
    --fuligem: #161616;
    --carbono: #232323;
    --cinza: #383838;
    --prata: #C0C0C0;
    --aluminio: #D0D5DB;
    --brasa: #F05E1B;
    --incandescente: #be4811;
}

body {
    background-color: var(--carbono);
    box-sizing: border-box;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}


main {
    margin-left: clamp(10rem, 5vw, 15rem);
    margin-right: clamp(10rem, 5vw, 15rem);
    margin-top: 8rem;
}

.banner {
    background-color: var(--fuligem);
    border: 2px solid var(--fuligem);
    margin-bottom: 6rem;
    width: 100%;
    overflow: hidden;
}


/* external css: flickity.css */ /* Framework do carrossel do banner */

.carousel {
    background: var(--carbono);
}

.carousel img { 
    display: block;  
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.carousel video { 
    display: block;  
    width: 100%;
    height: auto;
    z-index: 1;
}

/*--------------DESTAQUES--------------*/

.destaques {
    border-radius: 10px;
    overflow: hidden;
}

.destaques h1 {
    text-align: center;
    text-transform: uppercase;
    color: var(--brasa);
    padding-bottom: 2rem;
    font-size: 3rem;
}

.carousel-cell {
    width: 18rem;
    height: 22rem;
    margin-right: 2rem;
    background: var(--carbono);
    border-radius: 10px;
    border: 1px solid var(--fuligem);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    counter-increment: carousel-cell;
    overflow: hidden;
  }

.carousel-cell img {
    width: 18rem;
    height: 22rem;
    border-radius: 10px;
    object-fit: cover;
}

.area-serviços {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.card-cutelaria {
    position: relative;
    width: 100%;
    height: 35rem;
    background-color: var(--fuligem);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: var(--fuligem) 6px 4.8px 6.4px;
    background: url(imgs/faca-bainha-de-couro.jpg) no-repeat 50% 70%;
    background-size: cover;
    margin-bottom: 2rem;
    transition: all 0.3s ease;
    transform-style: preserve-3d; /* Habilita o efeito 3D */ /*O chat disse que era pra deixar tudo do mesmo tamanho quando aumenta, mas não sei se precisa realmente 😔*/
    cursor: pointer;
}

.card-cutelaria:hover {
    transform: scale(1.01) translateZ(20px); /* Aumenta o tamanho e dá sensação de profundidade */
    box-shadow: var(--fuligem) 12px 9.6px 12.8px;
    border-radius: 0;
}

.card-blocos {
    position: relative;
    width: 49%;
    height: 35rem;
    justify-content: left;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: var(--fuligem) 6px 4.8px 6.4px;
    background: url(imgs/blocos-de-cima.jpg) no-repeat 50% 90%;
    background-size: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d; /* Habilita o efeito 3D */
    cursor: pointer;
}

.card-blocos:hover {
    transform: scale(1.01) translateZ(20px);
    box-shadow: var(--fuligem) 12px 9.6px 12.8px;
}

.card-restauracao {
    position: relative;
    width: 49%;
    height: 35rem;
    justify-content: right;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: var(--fuligem) 6px 4.8px 6.4px;
    background: url(imgs/facas-e-blocos.jpg) no-repeat 40% 90%;
    background-size: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d; /* Habilita o efeito 3D */
    cursor: pointer;
}

.card-restauracao:hover {
    transform: scale(1.01) translateZ(20px);
    box-shadow: var(--fuligem) 12px 9.6px 12.8px;
}

.titulo-card .rifa-titulo {
    position: absolute;
    top: 0;
}

.titulo-card h1 {
    font-size: clamp(1.5rem, 2vw, 3rem);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.explorar-card {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 3rem;
    padding-bottom: 1.5rem;
}

.explorar-card h1 {
    text-align: left;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
    padding-bottom: 0.5rem;
}

.explorar-card button, .ri {
    font-weight: bold;
    font-size: clamp(0.8rem, 2vw, 2rem);
    padding: 1rem;
    background-color: var(--brasa);
    border: 1px solid black;
    color: var(--fuligem);
    border-radius: 10px;
}

.explorar-card button:hover {
    background-color: #f15217;
    color: var(--aluminio);
    transition: all 0.3s ease-out;
    border: 1px solid var(--brasa);
    box-shadow: 0 0 20px rgba(255, 69, 0, 1), 0 0 30px rgba(255, 69, 0, 0.8), 0 0 40px rgba(255, 69, 0, 0.6);
}


.rifa {
    width: 80%;
    background-color: var(--fuligem);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: var(--fuligem) 6px 4.8px 6.4px;
    background: url(imgs/textura-damasco.png) no-repeat 50% 20%;
    background-size: cover;
    background-color: var(--carbono);
    background-blend-mode: overlay; /* Mistura as duas camadas de cor */
    transition: all 0.3s ease;
    transform-style: preserve-3d; /* Habilita o efeito 3D */ /*O chat disse que era pra deixar tudo do mesmo tamanho quando aumenta, mas não sei se precisa realmente 😔*/
    cursor: pointer;
    margin: 5rem auto 0 auto;
    padding: 1.5rem;
    overflow: hidden;
}

.rifa:hover {
    transform: scale(1.01) translateZ(20px);
    box-shadow: var(--fuligem) 12px 9.6px 12.8px;
}

.rifa-titulo h1 {
    font-size: clamp(1.5rem, 2vw, 3rem);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.rifa-conteudo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.rifa-imagem {
    max-width: 500px;
    max-height: 700px;
    border-radius: 10px;
    border: 1px solid var(--fuligem);
    overflow: hidden;
}

.rifa-imagem img {
    border-radius: 10px;
    border: 1px solid var(--fuligem);
}


.rifa-info {
    width: 45%;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    text-align: center;
}

.rifa-info p {
    padding: 1rem;
}

.rifa-info button {
    font-weight: bold;
    font-size: clamp(0.8rem, 2vw, 2rem);
    padding: 1rem;
    
    background-color: var(--brasa);
    border: 1px solid black;
    color: var(--fuligem);
    border-radius: 10px;
}

.rifa-info button:hover {
    background-color: #f15217;
    color: var(--aluminio);
    transition: all 0.3s ease-out;
    border: 1px solid var(--brasa);
    box-shadow: 0 0 20px rgba(255, 69, 0, 1), 0 0 30px rgba(255, 69, 0, 0.8), 0 0 40px rgba(255, 69, 0, 0.6);
    
}

/*--------------------------MEDIA QUERIES--------------------------*/


/* 1264px = 79rem */

@media (max-width: 79rem) {
    

    .card-destaque {
        width: 15rem;
    }
    
    .card-cutelaria {
        height: 20rem;
    }

    .card-blocos {
        width: 100%;
        height: 20rem;
        margin-bottom: 2rem;
    }

    .card-restauracao {
        width: 100%;
        margin-bottom: 2rem;
        height: 20rem;
    }

    .explorar-card {
        padding-left: 1rem;
    }

    .rifa {
        width: 100%;
    }
}


/* 1120px = 66rem */

@media (max-width: 70rem) { /* Menu reduzido */

    main {
        margin-left: 5rem;
        margin-right: 5rem;
    }
}

/* 768px = 48rem */

@media (max-width: 48rem) {
    main {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
}
