* {
    color: var(--aluminio);
    font-family: 'PLAYFAIR';
}

:root {
    --fuligem: #161616;
    --carbono: #232323;
    --cinza: #383838;
    --prata: #C0C0C0;
    --aluminio: #D0D5DB;
    --brasa: #F05E1B;
}

body {
    background-color: var(--carbono);
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}


button {
    cursor: pointer;
}

nav {
    background: url(imgs/textura-damasco.jpg) no-repeat center;
    background-size: cover;
}

main {
    margin-left: clamp(8rem, 5vw, 15rem);
    margin-right: clamp(8rem, 5vw, 15rem);
}

.topo-navbar {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: var(--aluminio);
}

.frase {
    display: inline;
    color: var(--aluminio);
}

.icones {
    display: inline-flex;
    gap: 1rem;
    color: var(--aluminio);
}

.ativar-menu {
    display: none;
    font-size: 1.8rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.3);
    border-top: 0.5px solid var(--cinza);
    font-size: 1.5rem;
    width: 100%;
    height: 5rem;
}

.menu ul {
    display: flex;
    justify-content: space-around;
    width: 60%;
    /* background-color: aquamarine; */ /*Só pra fazer debug*/
}

.menu li, a {
    display: flex;
    text-decoration: none;
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.banner {
    color: var(--brasa);
    background-color: var(--fuligem);
    background: url(imgs/faca-cabo-vermelho.jpg) no-repeat 50% 35%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    height: 22rem;
    max-width: 100vw;
}

.destaques {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
    text-align: center;
}

.destaques h1 {
    color: var(--brasa);
    font-size: 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.carrossel-destaques {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    overflow: visible;
    margin-bottom: 5rem;
}

.card-destaque {
    width: 20rem;
    height: 18rem;
    background-color: var(--prata);
    border-radius: 10px;
    box-shadow: var(--fuligem) 6px 4.8px 6.4px;
}

.area-serviços {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card-cutelaria {
    position: relative;
    width: 100%;
    height: 35rem;
    background-color: var(--fuligem);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: var(--fuligem) 6px 4.8px 6.4px;
    background: url(imgs/faca-bainha-de-couro.jpg) no-repeat 50% 70%;
    background-size: cover;
    margin-bottom: 2rem;
    transition: all 0.3s ease;
    transform-style: preserve-3d; /* Habilita o efeito 3D */ /*O chat disse que era pra deixar tudo do mesmo tamanho quando aumenta, mas não sei se precisa realmente 😔*/
    cursor: pointer;
}

.card-cutelaria:hover {
    transform: scale(1.01) translateZ(20px); /* Aumenta o tamanho e dá sensação de profundidade */
    box-shadow: var(--fuligem) 12px 9.6px 12.8px;
    border-radius: 0;
}

.card-blocos {
    position: relative;
    width: 49%;
    height: 35rem;
    justify-content: left;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: var(--fuligem) 6px 4.8px 6.4px;
    background: url(imgs/blocos-de-cima.jpg) no-repeat 50% 90%;
    background-size: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d; /* Habilita o efeito 3D */
    cursor: pointer;
}

.card-blocos:hover {
    transform: scale(1.01) translateZ(20px);
    box-shadow: var(--fuligem) 12px 9.6px 12.8px;
}

.card-restauracao {
    position: relative;
    width: 49%;
    height: 35rem;
    justify-content: right;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: var(--fuligem) 6px 4.8px 6.4px;
    background: url(imgs/facas-e-blocos.jpg) no-repeat 40% 90%;
    background-size: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform-style: preserve-3d; /* Habilita o efeito 3D */
    cursor: pointer;
}

.card-restauracao:hover {
    transform: scale(1.01) translateZ(20px);
    box-shadow: var(--fuligem) 12px 9.6px 12.8px;
}

.titulo-card {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.titulo-card h1 {
    font-size: clamp(1.5rem, 2vw, 3rem);
    text-align: center;
}

.explorar-card {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 3rem;
    padding-bottom: 1.5rem;
}

.explorar-card h1 {
    text-align: left;
    font-size: clamp(1.2rem, 2vw, 2.5rem);
}

.explorar-card button {
    font-weight: bold;
    font-size: clamp(0.8rem, 2vw, 2rem);
    padding: 1rem;
    background-color: var(--brasa);
    border: 1px solid black;
    color: var(--fuligem);
    border-radius: 10px;
}

/*Estiliação do meu footer*/

footer {
    background-color: var(--fuligem);
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
    padding: 1.8rem;
    font-size: clamp(0.7rem, 2vw, 1.3rem);
}

.logo p {
    margin: 0;
    text-align: center;
    color: var(--brasa);
    font-style: italic;
}

.logo img { 
    width: 150px; 
    height: auto; 
    max-width: 100%;
}

footer h2 {
    display: inline-block;
    border-bottom: 2px solid var(--brasa);
    padding-bottom: 0.4rem;
    margin: 0; /*remover espaço abaixo da linha ´-´*/
}

footer ul {
    list-style: none;
    padding: 0;
}

footer li {
    margin-bottom: 0.6rem;
    color: #fff;
    transition: color 0.5s ease;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}

footer a {
    text-decoration: none;
    color: #fff;
    transition: color 0.5s ease;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
}

footer i {
    margin-right: 0.4rem;
    width: 1.2rem;
    height: 1.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: color 0.5s ease;
}

footer li:hover, footer li:hover a, footer li:hover i{
    color: var(--brasa);
}

/*Cabo footer pae*/

@media (max-width: 1250px) {
    .card-cutelaria {
        height: 20rem;
    }

    .card-blocos {
        width: 100%;
        height: 20rem;
        margin-bottom: 2rem;
    }

    .card-restauracao {
        width: 100%;
        margin-bottom: 2rem;
        height: 20rem;
    }

    .explorar-card {
        padding-left: 1rem;
    }
}

/*-------------------Responsividade-------------------*/

@media (max-width: 1050px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
    }

    .logo {
        order: -1; /*faz a logo aparecer primeiro*/
        align-self: center;
        margin-bottom: 2rem;
    }

    .logo img {
        width: 120px;
    }
}

@media (max-width: 767px) {
    main {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .menu {
        display: flex;
        justify-content: start;
    }

    .menu ul {
        display: none;
    }

    .menu ul.mostrar {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1rem 0.5rem;
        background-color: var(--carbono);
        border-radius: 10px;
    }

    .menu ul li{
        display: block;
        width: 100%;
        text-align: center;
        padding: 1rem 0.5rem;
        border: 1px top bottom var(--fuligem);
    }

    .menu ul li a {
        display: block;
    }

    .menu ul li:hover {
        background-color: var(--fuligem);
    }

    .ativar-menu {
        display: flex;
        margin-left: 2rem;
    }

    .logo img {
        width: 100px;
    }
}