* {
    color: var(--aluminio);
    font-family: 'PLAYFAIR', serif;
    margin: 0;
    padding: 0;
}

body {
    scrollbar-width: thin;
    scrollbar-color: var(--brasa) var(--fuligem);
}

body:active {
    scrollbar-color: var(--incandescente) var(--fuligem);
}

/* Define a cor do "thumb" (parte móvel da barra) */
body::-webkit-scrollbar-thumb {
    background-color: var(--brasa);
    width: 0.5rem;
}

body::-webkit-scrollbar-thumb:active {
    background-color: var(--incandescente);
}
  
/* Cor do thumb ao passar o mouse */
body::-webkit-scrollbar-thumb:hover {
    background-color: var(--incandescente); /* Um tom mais escuro para o hover */
}

:root {
    --fuligem: #161616;
    --carbono: #232323;
    --cinza: #383838;
    --prata: #C0C0C0;
    --aluminio: #D0D5DB;
    --brasa: #F05E1B;
    --incandescente: #f15217;
}

/*EFEITO DE HOVER INCANDESCENTE DO TOPO*/
.menu a:hover, .converse a:hover, .login a:hover, .converse a:hover, .menu-reduzido a:hover, .atendimento-reduzido a:hover {
    color: var(--brasa);
    text-shadow: 
                0 0 20px rgba(255, 69, 0, 1),
                0 0 40px rgba(255, 69, 0, 0.8),
                0 0 60px rgba(255, 69, 0, 0.6),
                0 0 80px rgba(255, 69, 0, 0.4);
    transition: all 0.15s ease;
}


body {
    background-color: var(--carbono);
    box-sizing: border-box;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

nav {
    background: url(imgs/elementos/textura-damasco.png) no-repeat 50% 20%;
    background-size: cover;
    background-color: var(--fuligem);
    background-blend-mode: overlay; /* Mistura as duas camadas de cor */
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid var(--fuligem);
}

main {
    margin-left: clamp(10rem, 5vw, 15rem);
    margin-right: clamp(10rem, 5vw, 15rem);
}


.logo-nav {
    font-size: 1.8rem;
    text-wrap: nowrap;
    color: var(--aluminio);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-nav img {
    width: 150px; 
    height: auto; 
    max-width: 100%;
}

.ativar-menu {
    display: none;
    font-size: 2rem;
    position: absolute;
}

.ativar-menu i {
    cursor: pointer;
}

.fechar-menu {
    display: none;
    font-size: 2rem;
    padding: 1rem;
    position: relative;
    justify-content: flex-end;
}

.fechar-menu i {
    cursor: pointer;
}

/*EFEITO DE HOVER INCANDESCENTE DO TOPO*/
.menu a:hover, .converse a:hover, .login a:hover, .converse a:hover, .menu-reduzido a:hover, .atendimento-reduzido a:hover {
    color: var(--brasa);
    text-shadow: 
                0 0 20px rgba(255, 69, 0, 1),
                0 0 40px rgba(255, 69, 0, 0.8),
                0 0 60px rgba(255, 69, 0, 0.6),
                0 0 80px rgba(255, 69, 0, 0.4);
    transition: all 0.15s ease;
}

.menu, .atendimento {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 2rem 0;
}

.menu ul, .atendimento ul {
    display: flex;
    list-style: none;
}

.menu li, .atendimento li {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0 1rem;
}

.menu a, .atendimento a {
    font-size: clamp(0.5rem, 2vw, 1.1rem);
}

.menu i, .atendimento i {
    padding-right: 0.2rem;
    color: var(--incandescente);
    font-size: 1.2rem;
}


.navbar-reduzida {
    display: none;
    justify-content: flex-start;
    flex-direction: column;
    text-transform: uppercase;
    background-color: rgba(35, 35, 35, 0.7);
    backdrop-filter: blur(3px);
    border-left: 1px solid var(--fuligem);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vw;
    width: 40vw;
    gap: 4rem;
    z-index: 10;
}

.menu-reduzido ul, .atendimento-reduzido ul {
    list-style: none;
}

.menu-reduzido li {
    padding: 1rem 0;
    padding-left: 1rem;
    width: 100%;
}

.menu-reduzido li:hover {
    background-color: var(--fuligem);
    transition: all 0.2s ease;
}

.menu-reduzido a, .atendimento-reduzido a{
    padding: 1rem;
    font-size: 1.5rem;
}

.menu-reduzido i, .atendimento-reduzido i{
    padding-right: 0.5rem;
    color: var(--incandescente);
    margin-right: 0.4rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.atendimento-reduzido ul {
    display: flex;
}

.atendimento-reduzido li {
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
}

.atendimento-reduzido li:hover {
    background-color: var(--fuligem);
    transition: all 0.2s ease;
}


.btn-whats-fixo {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 3rem;
    margin: 20px;
    transition: transform 0.15s ease;
}

.btn-whats-fixo i {
    color: var(--brasa);
}

.btn-whats-fixo:hover, .btn-whats-fixo:hover i {
    text-shadow: 0 0 20px rgba(255, 69, 0, 1), 0 0 30px rgba(255, 69, 0, 0.8), 0 0 40px rgba(255, 69, 0, 0.6);
    transform: scale(1.05);
}

/*Estilização do meu foote*/

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 2rem;
    background: url(imgs/elementos/textura-damasco.png) no-repeat 50% 20%;
    background-size: cover;
    background-color: var(--fuligem);
    background-blend-mode: overlay;
    border-top: 1px solid var(--fuligem);
}
  
.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 0.8rem;
}
  
.wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
  
.wrapper .footer-widget {
    width: calc(20% - 30px);
    margin: 0 0.9375rem 3.125rem;
    padding: 0 0.75rem;
}
  
.wrapper .footer-widget:nth-child(1) {
    width: calc(40% - 50px);
    margin-right: 0.9rem;
}
  
.wrapper .footer-widget .logo {
    margin-bottom: 1.8rem;
    vertical-align: middle;
}
  
.wrapper .footer-widget p {
    margin-bottom: 1.8rem;
    font-size: 1.2rem;
    line-height: 1.4rem;
}
  
.wrapper .footer-widget .socials {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.wrapper .footer-widget .socials li {
    list-style: none;
}
  
.wrapper .footer-widget .socials li a {
    width: 44px;
    height: 44px;
    margin-right: 0.8rem;
    background-color: var(--brasa);
    border-radius: 50%;
    font-size: 1.5rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.15s ease-out;
}

.wrapper .footer-widget .socials li a i {
    color: var(--fuligem);
}
  
.wrapper .footer-widget .socials li a:hover {
    transform: scale(1.1);
}
  
.wrapper .footer-widget h6 {
    color: var(--brasa);
    margin: 10px 0 35px;
    font-size: 1.4rem;
    font-weight: 600;
}
  
.wrapper .footer-widget .links li {
    list-style: none;
}
  
.wrapper .footer-widget .links li a {
    color: var(--aluminio);
    font-size: 1.1rem;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 2rem;
    transition: all 0.15s ease-out;
}
  
.wrapper .footer-widget .links li a:hover,
.wrapper .footer-widget .links li a:hover * {
    color: var(--brasa);
    text-shadow: 
                0 0 20px rgba(255, 69, 0, 1),
                0 0 40px rgba(255, 69, 0, 0.8),
                0 0 60px rgba(255, 69, 0, 0.6),
                0 0 80px rgba(255, 69, 0, 0.4);
    transition: all 0.15s ease;
}
  
.copyright-wrapper {
    padding: 2rem 0;
    border-top: 1px solid var(--brasa);
}
  
.copyright-wrapper p {
    color: var(--aluminio);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}
  
.copyright-wrapper p a {
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.15s ease-out;
}
  
.copyright-wrapper p a:hover {
    color: var(--brasa);
    text-shadow: 
                0 0 20px rgba(255, 69, 0, 1),
                0 0 40px rgba(255, 69, 0, 0.8),
                0 0 60px rgba(255, 69, 0, 0.6),
                0 0 80px rgba(255, 69, 0, 0.4);
    transition: all 0.15s ease;
}

/*Cabo footer pae*/


/*--------------------------MEDIA QUERIES--------------------------*/


/* 1264px = 79rem */

@media (max-width: 79rem) {
    

.menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu i {
    padding-bottom: 0.2rem;
}


.atendimento a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.atendimento i {
    padding-bottom: 0.2rem;
}

.card-destaque {
    width: 15rem;
}

.card-cutelaria {
    height: 20rem;
}

.card-blocos {
    width: 100%;
    height: 20rem;
    margin-bottom: 2rem;
}

.card-restauracao {
    width: 100%;
    margin-bottom: 2rem;
    height: 20rem;
}

.explorar-card {
    padding-left: 1rem;
}

.btn-whats-fixo {
    max-width: 50px;
    height: 50px;
}
}

@media (min-width: 70rem) {
    
    .navbar-reduzida, .atendimento-reduzido, .menu-reduzido, .fechar-menu {
        display: none;
    }

    .navbar-reduzida {
        background: none;
        backdrop-filter: blur(0px);
        border-left: none;
    }
    
}


/* 1120px = 66rem */

@media (max-width: 70rem) { /* Menu reduzido */

main {
    margin-left: 5rem;
    margin-right: 5rem;
}


.ativar-menu {
    display: flex;
    position: relative;
    padding: 1rem;
}

.ativar-menu:hover {
    cursor: pointer;
    color: var(--brasa);
    text-shadow: 
                0 0 20px rgba(255, 69, 0, 1),
                0 0 40px rgba(255, 69, 0, 0.8),
                0 0 60px rgba(255, 69, 0, 0.6),
                0 0 80px rgba(255, 69, 0, 0.4);
}

.ativar-menu i {
    color: var(--incandescente);
}


.fechar-menu:hover {
    cursor: pointer;
    color: var(--brasa);
    text-shadow: 
                0 0 20px rgba(255, 69, 0, 1),
                0 0 40px rgba(255, 69, 0, 0.8),
                0 0 60px rgba(255, 69, 0, 0.6),
                0 0 80px rgba(255, 69, 0, 0.4);
}

.menu {
    display: none;
}

.atendimento {
    display: none;
}

.btn-whats-fixo {
    max-width: 40px;
    height: 40px;
}

}

/*992 px = 62rem*/

@media (max-width: 992px) {
    .container {
      max-width: 960px;
    }
  
    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1) {
      width: calc(50% - 30px);
    }
}

/* 768px = 48rem */

@media (max-width: 48rem) {

    .menu-reduzido li, .atendimento-reduzido li{
        padding-left: 0.5rem;
    }

    .menu-reduzido a, .atendimento-reduzido a{
        padding: 1rem;
        font-size: 1.3rem;
    }

    main {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .container {
        max-width: 720px;
    }
      
    .wrapper .footer-widget,
    .wrapper .footer-widget:nth-child(1) {
        width: 100%;
        margin: 0 10px 50px;
    }
}

@media (max-width: 676px) {
    
    .navbar-reduzida {
        width: 50%;
    }
    
}

/* 512px = 32rem */

@media (max-width: 32rem) {
    .navbar-reduzida, .atendimento-reduzido li {
        width: 100%;
        height: 100%;
    }

}