* {
    color: var(--aluminio);
    font-family: 'PLAYFAIR';
    margin: 0;
    padding: 0;
}

:root {
    --fuligem: #161616;
    --carbono: #232323;
    --cinza: #383838;
    --prata: #C0C0C0;
    --aluminio: #D0D5DB;
    --brasa: #F05E1B;
    --incandescente: #f15217;
}

body {
    background-color: var(--carbono);
    box-sizing: border-box;
    min-height: 100vh;
}

main {
  margin-top: 1.5rem;
}

.container-restauracao {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 1rem; 
  background-color: var(--fuligem);
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-image {
  flex: 1;
  margin-left: 2.5rem; 
  overflow: hidden;
}

.about-image img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: 0.3s ease;
  border-radius: 0.5rem;
}

.about-image:hover img {
  transform: scale(1.1);
}

.steps-section {
  width: 100%;
  flex: 1;
}

.steps-section h2 {
  text-align: center;
  color: var(--brasa);
  margin-bottom: 0.5rem;
}

.step {
  margin-bottom: 15px;
}

.step button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.6rem;
  background-color: var(--cinza);
  color: var(--aluminio);
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: left;
}

.icon {
  color: var(--brasa);
  margin-right: 0.5rem;
  font-size: 1.2rem;
  font-weight: 800;
}

.step-content {
  display: none;
  padding: 0.6rem;
  background-color: var(--cinza);
  border-top: 1px solid var(--brasa);
  font-size: 1.1rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

.step-content p a {
  text-transform: uppercase;
  color: #25D366;
  text-decoration: underline;
  font-weight: 400;
}

@media screen and (max-width: 980px) {
  .about {
      padding: 1.25rem;
      flex-direction: column;
  }

  .about-image {
      margin-left: 0;
      margin-bottom: 1.25rem;
  }

  .step button {
    font-size: 1rem;
  }

  .icon {
    font-size: 1.1rem;
  }

  .step-content {
    font-size: 0.9rem;
  }

}

@media (max-width: 768px) {
  .step button {
      font-size: 14px;
      padding: 8px;
  }
}