* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c0c0c0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0.6rem 2rem;
  color: white;
}

.logo img {
  height: 40px; /* para ajustar o tamanho da logo */
}

.nav-text p {
  font-size: 1.2rem;
  text-align: center;
  flex: 1;
}

.social-icons a {
  color: #fff;
  margin-left: 1.5rem;
  text-decoration: none;
  font-size: 1.3rem;
}

.social-icons a :hover{
    color: rgb(197, 113, 44);
}

.texto {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-initial {
    padding: 1rem; 
    display: inline-block; 
    border-radius: 0.6rem; 
    background-color: #f4f4f4;
    font-size: 1.3rem;
}

.text-initial p {
    padding: 0.2rem;
}

.card-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 2;
}

.card-cutelaria {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
    gap: 5rem;
    border: 1px solid red;
    margin: 5rem 0;
    position: relative;
}

.item-grid-card-cutelaria {
  text-align: center;
}

.card-bloco {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    gap: 20px;
    border: 1px solid red;
}


/* Card UIverse - Início*/
.notification {
    display: flex;
    flex-direction: column;
    isolation: isolate;
    position: relative;
    width: 18rem;
    height: 8rem;
    background: #29292c;
    border-radius: 1rem;
    overflow: hidden;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
    --color: #32a6ff;
  }
  
  .notification:before {
    position: absolute;
    content: "";
    inset: 0.0625rem;
    border-radius: 0.9375rem;
    background: #18181b;
    z-index: 2
  }
  
  .notification:after {
    position: absolute;
    content: "";
    width: 0.25rem;
    inset: 0.65rem auto 0.65rem 0.5rem;
    border-radius: 0.125rem;
    background: var(--gradient);
    transition: transform 300ms ease;
    z-index: 4;
  }
  
  .notification:hover:after {
    transform: translateX(0.15rem)
  }
  
  .notititle {
    color: var(--color);
    padding: 0.65rem 0.25rem 0.4rem 1.25rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: transform 300ms ease;
    z-index: 5;
  }
  
  .notification:hover .notititle {
    transform: translateX(0.15rem)
  }
  
  .notibody {
    color: #99999d;
    padding: 0 1.25rem;
    transition: transform 300ms ease;
    z-index: 5;
  }
  
  .notification:hover .notibody {
    transform: translateX(0.25rem)
  }
  
  .notiglow,
  .notiborderglow {
    position: absolute;
    width: 20rem;
    height: 20rem;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle closest-side at center, white, transparent);
    opacity: 0;
    transition: opacity 300ms ease;
  }
  
  .notiglow {
    z-index: 3;
  }
  
  .notiborderglow {
    z-index: 1;
  }
  
  .notification:hover .notiglow {
    opacity: 0.1
  }
  
  .notification:hover .notiborderglow {
    opacity: 0.1
  }
  
  .note {
    color: var(--color);
    position: fixed;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-size: 0.9rem;
    width: 75%;
  }

/* Card UIverse - Fim*/

/* ************* FORMULÁRIO **************** */

#formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  flex-direction: column;
}

#formulario select {
  font-size: 2rem;
  overflow: visible;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

#formulario label {
  font-size: 2rem;
}

.campo-detalhes {
  min-height: 300px;
  min-width: 80%;
  margin: 5rem;
}