@font-face {
    font-family: 'PLAYFAIR';
    font-style: normal;
    src: 
        url('PlayfairDisplay-Regular.woff2') format('woff2'),
        url('PlayfairDisplay-Regular.woff') format('woff'),
        url('PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'DIGITAL-7';
    font-style: normal;
    font-display: swap;
    src: url('Digital-7.woff2') format('woff2');
}
